<h1>New Article</h1>

<div class="cr_sectshow">

  <%= form_for @article do |f| %>

    <p>
      <%= f.label :body %>
      <%= f.text_area :text %>
    </p>

    <p>
      <%= f.submit %>
    </p>

  <% end %>

</div>

<p id="text_show"></p>

<p id="corrected_text"></p>

<p id="count"></p>